
.DS_Store
courses/.DS_Store
courses/cse417t/.DS_Store
courses/cse518a/.DS_Store
courses/cse518a/sp2019/.DS_Store
pub/.DS_Store
workshops/.DS_Store
workshops/mathematical-foundations-of-human-computation/.DS_Store
workshops/mathematical-foundations-of-human-computation/papers/.DS_Store
workshops/mathematical-foundations-of-human-computation/slides/.DS_Store
